@model IEnumerable<BTTH3.Models.Product>

<div class="mt-4">
    <h5 class="mb-3">Sản phẩm nổi bật</h5>
    <div class="row g-3">
        @foreach (var p in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100">
                    <img class="card-img-top" src="@p.ImageUrl" alt="@p.Name" />
                    <div class="card-body">
                        <div class="small text-muted">HOT</div>
                        <div class="fw-semibold">@p.Name</div>
                        <div>@string.Format("{0:N0} đ", p.Price)</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
