@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar p-1 bg-secondary rounded">
    <div class="h4 text-center bg-secondary text-white w-100 py-xl-0 rounded">Danh mục sản phẩm</div>
    <ul class="list-group bg-white">
        <li class="list-group-item">Áo dài</li>
        <li class="list-group-item">Áo đông</li>
        <li class="list-group-item">Túi sách</li>
        <li class="list-group-item">Đồng hồ</li>
        <li class="list-group-item">Ví da</li>
        <li class="list-group-item">Thắt lưng da</li>
        <li class="list-group-item">Tủ lạnh</li>
        <li class="list-group-item">Ti vi</li>
        <li class="list-group-item">Quạt điện</li>
        <li class="list-group-item">Lò sưởi</li>
    </ul>
    <img src="~/image/banner.jpeg" class="img-fluid ad-banner w-100 rounded mt-3" alt="Quảng cáo" />
</div>