@{
	ViewData["Title"] = "Thông tin sinh viên";
}
<h2>Thông tin sinh viên</h2>
<ul>
	<li> <b> Họ tên:</b> Hoàng Quốc Anh</li>
	<li> <b> MSV:</b> 231230703</li>
	<li> <b> Lớp:</b> CNTT2-K64</li>
	<li> <b> Email:</b> hqanhh7605@gmail.com</li>

</ul>
